<!DOCTYPE html>
<html>
<head>
    <title>Pangea Dealer</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/pangea.css">

    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script>

        $(document).ready(function () {

            $("#post-button").click(function(evt) {
                evt.preventDefault();
                sendRequest("POST");
            });

            $("#get-button").click(function(evt) {
                evt.preventDefault();
                sendRequest("GET");
            });

            $("#put-button").click(function(evt) {
                evt.preventDefault();
                sendRequest("PUT");
            });

            $("#delete-button").click(function(evt) {
                evt.preventDefault();
                sendRequest("DELETE");
            });

            $("#clear-button").click(function(evt) {
                evt.preventDefault();

                $('#response-body').val("");
            });

            $("#format-button").click(function(evt) {
                evt.preventDefault();

                var selector = $('#response-body');

                var value = selector.val();
                if (value) {
                    value = JSON.stringify(JSON.parse(value), null, 2);
                    selector.val(value);
                }
            });

            $("textarea").keydown(function(e) {
                if(e.keyCode === 9) { // Tab was pressed
                    // Get caret position/selection
                    var start = this.selectionStart;
                    var end = this.selectionEnd;

                    var $this = $(this);
                    var value = $this.val();

                    // Set text area value to: text before caret + tab + text after caret
                    $this.val(value.substring(0, start) + "\t" + value.substring(end));

                    // Put caret at right position again (add one for the tab)
                    this.selectionStart = this.selectionEnd = start + 1;

                    // Prevent the focus lose
                    e.preventDefault();
                }
            });

            function sendRequest(method) {
                var responseBodySelector = $('#response-body');

                var endpoint = $('#server-url-endpoint').val();
                var data = $("#request-body").val();

                if (!endpoint) {
                    alert("Endpoint must be set");
                    return;
                }

                endpoint = "api/" + endpoint.trim();

                $.ajax({
                    type: method,
                    url: endpoint,
                    data: data,
                    contentType: "application/json"
                }).done(function(data) {
                    responseBodySelector.val("")

                    if (data) {
                        if ($('#format-checkbox').prop('checked'))
                            responseBodySelector.val(JSON.stringify(data, null, 2));
                        else
                            responseBodySelector.val(JSON.stringify(data));
                    }
                }).fail(function(jqXHR, textStatus) {
                    alert("Request failed: " + textStatus)
                });
            }
        });
    </script>

</head>
<body>
    <div class="container-fluid">

        <p>TEST</p>
        <div class="well">
            <span><strong>Valid routes</strong></span>
            <ul>
                {% for route in routes %}
                    {% block route %}
                        <li>{{ route }}</li>
                    {% end %}
                {% end %}
            </ul>
        </div>

        <div class="row-fluid well-small form-horizontal">
            <div class="input-group form-group">
                <span class="input-group-addon" id="endpoint-addon">
                    Endpoint: {{base_url}}/api/
                </span>

                <input type="text" id="server-url-endpoint" aria-describedby="endpoint-addon"
                       class="form-control span10" value="tables">
            </div>
        </div>

        <div class="well">
            <label for="request-body"><strong>Request message:</strong></label>
            <textarea id="request-body" rows="10" cols="100" class="row-fluid" spellcheck="false">
                {}
            </textarea>

            <br/>
            <button id="get-button" class="btn">Get</button>
            <button id="post-button" class="btn">Post</button>
            <button id="put-button" class="btn">Put</button>
            <button id="delete-button" class="btn">Delete</button>
        </div>

        <div class="well">
            <label for="response-body"><strong>Response message:</strong></label>
            <textarea id="response-body" rows="30" cols="100" class="row-fluid" spellcheck="false"></textarea>

            <br/>
            <button id="clear-button" class="btn">Clear</button>
            <button id="format-button" class="btn">Format</button>

            <div class="checkbox">
                <label>
                    <input type="checkbox" id="format-checkbox" value="format" checked="true">
                    Automatically format response?
                </label>
            </div>
        </div>
    </div>
</body>
</html>